//
// BLINKY
//

.blinky-jumbotron {
	margin-bottom: 0px;
}

.blinky-jumbotron2 {
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	
	h1, h3 {
		text-shadow: $white-glow;
	}
}

.blinky-image-div {
	display: inline-block;
	position: relative;
	width: 100%;
	height: auto;
}

.blinky-image-table-outer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.blinky-image-table {
	display: table;
	width: 100%;
	height: 100%;
}

.blinky-image-table-cell {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.blinky-image-overlay {
	/*
	padding-top: 7%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $translucent-black-3;
	color: white;
	*/
	
	//position: absolute;
    //display: table-cell;
    //vertical-align: middle;
    //float: none;
	
	h1 {
		text-color: red;
	}
	
	h3 {
		text-color: green;
	}
}

h3.subheader {
	@extend .thin-heading-font;
}
