//
// Fonts
//

.thick-heading-font {
	font-family: "Apercu Bold", Calibri, Roboto, sans-serif;
	font-size-adjust: 0.508;
	font-weight: bold;
	font-style: normal;
}

.thin-heading-font {
	font-family: "Apercu Light", Calibri, Roboto, sans-serif;
	font-size-adjust: 0.508;
	font-weight: 200;
	font-style: normal;
}

.body-font {
	font-family: "FM Light", Times, serif;
	font-weight: 100;
	font-style: normal;
}

//
// Colors
//

// Greyscale
$mid-grey-5: 	rgb( 85,  85,  85);
$mid-grey-6: 	rgb(102, 102, 102);
$mid-grey-7: 	rgb(119, 119, 119);
$light-grey: 	rgb(238, 238, 238);

// Solid
$darker-green:	rgb(  0, 160,  80);
$dark-green:	rgb(  0, 180, 140);
$light-green:	rgb(235, 255, 245);
$dark-grey: 	rgb( 51,  51,  51);

// Translucent
$transparent-light-grey: 	rgba(238, 238, 238, 0.0 );
$transparent-black: 		rgba(  0,   0,   0, 0.0 );
$translucent-black-u: 		rgba(  0,   0,   0, 0.07);
$translucent-black-3: 		rgba(  0,   0,   0, 0.3 );
$translucent-black-4:		rgba(  0,   0,   0, 0.4 );

// Palette
$primary-dark-color:	$dark-green;
$primary-dark-color-2:	$darker-green;
$primary-light-color:	$light-green;

// Role
$link-color:	$primary-dark-color;

//
// Shadows
//

$strong-shadow: 0px 0px 10px $translucent-black-4;
$weak-shadow: 	0px 0px 10px $translucent-black-u;
