$footer-height: 60px;

// Wrapper for page content to push down footer
#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -$footer-height; // Negative indent footer by its height.
	padding: 0 0 $footer-height; // Pad bottom by footer height.
}

.site-footer {
	@extend .thin-heading-font;
	height: $footer-height; // Set the fixed height of the footer here.
	background-color: white;
	box-shadow: $weak-shadow;
}

.footer-spacer {
	margin-top: 10px;
}

.site-info {
	font-size: 16px;
	padding-top: 20px;
	color: $mid-grey-7;
}
