//
// Spacing
//

.big-vertical-padding {
	padding-top: 30px;
	padding-bottom: 30px;
}

.center-y {
	vertical-align: middle;
}

.spacer {
    margin-bottom: 10px;
}

.spacer20 {
    margin-bottom: 20px;
}

.spacer30 {
    margin-bottom: 30px;
}

.spacer40 {
    margin-bottom: 40px;
}

.spacer50 {
    margin-bottom: 50px;
}

//
// Alignment
//

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

.textaligncenter {
	text-align: center;
}

//
// Vertical Centering
//

@media (min-width: 768px)
{
    .vcenter-row-sm {
        display:table;
    }
	
    .vcenter-sm {
        display:table-cell;
        vertical-align:middle;
        float:none;
    }
}

@media (min-width: 992px)
{
    .vcenter-row {
        display:table;
    }
	
    .vcenter {
        display:table-cell;
        vertical-align:middle;
        float:none;
    }
}
