//
// Spacing
//

.big-vertical-padding {
	padding-top: 30px;
	padding-bottom: 30px;
}

.center-y {
	vertical-align: middle;
}

.spacer {
    margin-bottom: 10px;
}

.spacer20 {
    margin-bottom: 20px;
}

.spacer30 {
    margin-bottom: 30px;
}

.spacer40 {
    margin-bottom: 40px;
}

.spacer50 {
    margin-bottom: 50px;
}

//
// Alignment
//

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

.textaligncenter {
	text-align: center;
}

//
// Vertical Centering
//

.vertical-center-outer {
    display: table;
}

.vertical-center-inner {
    display: table-cell;
    vertical-align: middle;
    float: none;
}
